.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.setup-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: 'Cause';
  font-weight: 300;
}

.matrix-screen header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.back-btn {
  font-size: 0.8rem;
  color: #252525;
  text-transform: uppercase;
  padding: 2x 3px;
  border-radius: 10px;
  border: 2px solid #252525;
  background: #fafafa;
  box-shadow: 2px 2px #252525;
  cursor: pointer;
  margin: 0.5rem 0;
  transition: transform 0.3s ease-in-out
}

.back-btn:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.back-btn:hover {
  transform: scale(1.05)
}
